@model APIDashboard.Models.ModelsDTO.UserDTO

@{
    ViewData["Title"] = "Index";
}

    <h1>My Account</h1>

<div>
    <h4>Account Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
